{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<h1>Your Bag</h1>

{% if bag %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
  <p>Item List</p>
  <ul>
    {% for item_id, item in bag.items %}
      <li>
        <p>Manufacturer: {{ item.bike.manufacturer }}</p>
        <p>Model: {{ item.bike.model }}</p>
        <form method="POST" action="{% url 'adjust_bag_content' item_id %}">
          {% csrf_token %}
          <div class="form-group">
              <label for="quantity">Quantity:</label>
              <input type="number" name="quantity" value="{{ item.quantity }}">
          </div>

          <div class="form-group">
            <label for="engine_capacity">Engine Capacity:</label>
            <select name="engine_capacity">
              {% for capacity in capacities %}
                <option value="{{ capacity }}" {% if capacity|floatformat:2 == item.bike.engine_capacity|floatformat:2 %}selected{% endif %}>{{ capacity }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit">Update</button>
      </form>

<p>Price: {{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00" }}</p>
      </li>
      <form action="{% url 'remove_from_bag' item_id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Remove</button>
      </form>
    {% endfor %}
  </ul>

  <div class="col-6">
    <div class="col-6">
      <p>Total Cost: {{ request.session.total_cost }}</p>
      <p>Delivery Cost: {{ request.session.delivery_cost }}</p>
      <p>Grand Total: {{ request.session.grand_total }}</p> 
  </div>
  </div>

{% else %}
  <p>Your bag is empty.</p>
{% endif %}
</div>

</div>
</div>
{% endblock %}
