{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<h1>Your Bag</h1>

{% if bag %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
  <p>Item List</p>
  <ul>
    {% for item_id, item in bag.items %}
      <li>
        <p>Manufacturer: {{ item.bike.manufacturer }}</p>
        <p>Model: {{ item.bike.model }}</p>
        <form method="POST" action="{% url 'adjust_bag_content' item_id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <div class="quantity-counter">
              <button type="button" class="quantity-button minus"><i class="fa-solid fa-minus"></i></button>
              <input type="number" name="quantity" value="{{ item.quantity }}" min="0">
              <button type="button" class="quantity-button plus"><i class="fa-solid fa-plus"></i></button>
            </div>
          </div>
          <div class="form-group">
            <label for="engine_capacity">Engine Capacity:</label>
            <select name="engine_capacity">
              {% for capacity in capacities %}
                {% if capacity.model == item.bike.model %}
                  {% for option in capacity.engine_capacity_options %}
                  <option value="{{ option }}" {% if option|floatformat:0 == item.bike.engine_capacity|floatformat:0 %}selected{% endif %}>{{ option|floatformat:0 }}:CC</option>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <button type="submit">Update</button>
      </form>
      {% if item.quantity == 1 %}
    <p>Price of item: €{{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00" }}</p>
      {% else %}
    <p>Price of item: €{{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00" }}</p>
    <p>Total Item Price: €{{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00"|calc_multiply:item.quantity }}</p>
    {% endif %}
    </li>
      <form action="{% url 'remove_from_bag' item_id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Remove</button>
      </form>
    {% endfor %}
  </ul>

  <div class="col-6">
    <div class="col-6">
      <p>Total Cost: {{ total_cost }}</p>
      <p>Delivery Cost: {{ delivery_cost }}</p>
      <p>Grand Total: {{ grand_total }}</p>
  </div>
  </div>
  <a href="{% url 'checkout' %}">Checkout</a>
{% else %}
  <p>Your bag is empty.</p>
{% endif %}
</div>

</div>

</div>
{% endblock %}
