{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

{% if bag %}
<div class="container bg-light my-2">
  <h1 class="header-logo">Your Bag</h1>
  <div class="row">
    <div class="col-sm-6">
      <h3 class="mb-2">Item List</h3>
      {% for item_id, item in bag.items %}
      <div class="row">
        <div class="col-md-6">
          <img class="w-100" src="{{ item.bike.image_url }}" alt="{{ item.bike.manufacturer }} {{ item.bike.model }}">
        </div>
        <div class="col-md-6">
          <p><strong>Manufacturer:</strong> {{ item.bike.manufacturer }}</p>
          <p><strong>Model:</strong> {{ item.bike.model }}</p>
          <p><strong>Year:</strong> {{ item.bike.year }}</p>
          <form method="POST" action="{% url 'adjust_bag_content' item_id %}">
            {% csrf_token %}
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <div class="row">
              <div class="col-md-5">
                <div class="quantity-counter d-flex align-items-center">
                  <button type="button" class="quantity-button minus mr-1"><i class="fa-solid fa-minus"></i></button>
                  <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" min="0" class="form-control quantity-input">
                  <button type="button" class="quantity-button plus ml-1"><i class="fa-solid fa-plus"></i></button>
                </div>
                <button type="submit" name="update_quantity" class="btn btn-primary mt-2">Update Quantity</button>
              </div>
            </div>
          </div>
            <div class="form-group">
              <label for="engine_capacity">Engine Capacity:</label>
              <select id="engine_capacity" name="engine_capacity" class="form-control">
                {% for capacity in capacities %}
                {% if capacity.model == item.bike.model %}
                {% for option in capacity.engine_capacity_options %}
                <option value="{{ option }}"
                  {% if option|floatformat:0 == item.bike.engine_capacity|floatformat:0 %}selected{% endif %}>
                  {{ option|floatformat:0 }}:CC</option>
                {% endfor %}
                {% endif %}
                {% endfor %}
              </select>
              <button type="submit" name="update_engine_capacity" class="btn btn-primary mt-2">Update Engine Capacity</button>
            </div>
          </form>
          {% if item.quantity == 1 %}
          <p>Price of item: €{{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00" }}</p>
          {% else %}
          <p>Price of item: €{{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00" }}</p>
          <p>Total Item Price:
            €{{ item.bike.engine_capacity|get_price:item.bike.model|default_if_none:"0.00"|calc_multiply:item.quantity }}
          </p>
          {% endif %}
          <form action="{% url 'remove_from_bag' item_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-2">Remove</button>
          </form>
        </div>
      </div>

      {% if forloop.last == False %}
      <hr>
      {% endif %}

      {% endfor %}

    </div>
    <div class="col-12 col-sm-6">
      <h3>Order Totals</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>Total Cost:</th>
            <td>€{{ total_cost }}</td>
          </tr>
          <tr>
            <th>Delivery Cost:</th>
            <td>€{{ delivery_cost }}</td>
          </tr>
          <tr>
            <th>Grand Total:</th>
            <td>€{{ grand_total }}</td>
          </tr>
        </tbody>
      </table>
      <a href="{% url 'checkout' %}" class="btn btn-primary p-2 my-2">Checkout<i class="fas fa-lock ml-1"></i></a>
    </div>
  </div>
</div>
    {% else %}
<div class="container p-5 bg-light">
  <div class="row">
    <div class="col-12">
      <h2>Your bag is empty:</h2>
      <h4 class="m-2 p-2"><a class="product-link" href="{% url 'products' %}?sort=manufacturer">Checkout the all bike product page!!!</a></h4>
    </div>
  </div>
</div>
    {% endif %}


{% endblock %}