{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center bg-danger">
      <div class="mx-3">
        <h1 class="header-logo p-1">Dirt Addict Motors</h1>
        <h4 id="index-message">Stocking a wide range of high quality dirtbikes from multiple manufacturer that span all the necessary engine capacity from beginner's all the way up to seasoned veteran</h4>
        <div>
          {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}"><button class="btn btn-dark btn-md mb-2">My Account</button></a>
          {% else %}
          <a href="{% url 'account_signup' %}"><button class="btn btn-dark btn-md mb-2">Sign up for Account</button></a>
          {% endif %}
          <a href="{% url 'products' %}?sort=manufacturer"><button class="btn btn-dark btn-md mb-2">Start browsing bikes</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 px-0">
      <img class="img-fluid" src="{% static 'images/index-image.jpeg' %}" alt="index-image">
    </div>
  </div>
  <div class="row my-4">
      <div class="col-12 bg-dark">
        <div id="bikeCarousel" class="carousel">
          <div class="carousel-inner bg-danger" id="bikeCarouselInner">
          </div>
          <button class="carousel-control-prev" id="prevButton" type="button">
            <span><i class="fa-solid fa-less-than"></i></span>
          </button>
          <button class="carousel-control-next" id="nextButton" type="button">
            <span><i class="fa-solid fa-greater-than"></i></span>
          </button>
        </div>
      </div>
    </div>
    <h2 class="d-flex justify-content-center header-logo">View each manufacturer's bikes that we currtnly have in stock</h3>
    <div class="row bg-dark">
      <div class="col-xxl col-xl-3 col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="d-flex justify-content-center">
          <a href="{% url 'products_by_manufacturer' manufacturer_name='Honda' %}">
            <img class="fixed-img" src="{% static 'images/honda-logo.png' %}" alt="Honda">
          </a>
        </div>
      </div>
      <div class="col-xxl col-xl-3 col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="d-flex justify-content-center">
          <a href="{% url 'products_by_manufacturer' manufacturer_name='KTM' %}">
            <img class="fixed-img" src="{% static 'images/ktm-logo.png' %}" alt="KTM">
          </a>
        </div>
      </div>
      <div class="col-xxl col-xl-3 col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="d-flex justify-content-center">
          <a href="{% url 'products_by_manufacturer' manufacturer_name='Suzuki' %}">
            <img class="fixed-img" src="{% static 'images/suzuki-logo.png' %}" alt="Suzuki">
          </a>
        </div>
      </div>
      <div class="col-xxl col-xl-3 col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="d-flex justify-content-center">
          <a href="{% url 'products_by_manufacturer' manufacturer_name='Yamaha' %}">
            <img class="fixed-img" src="{% static 'images/yamaha-logo.png' %}" alt="Yamaha">
          </a>
        </div>
      </div>  
    </div>
</div>

{% endblock %}


{% block postloadjs %}

<script>

let activeSlideIndex = 0;
let bikes = [];
let previousBikes = [];

function getRandomBikes(bikes, numArrays, numBikesPerArray) {
  const randomBikesList = [];

  const allBikeIds = bikes.map(bike => bike.id);
  const remainingBikeIds = allBikeIds.slice();

  for (let i = 0; i < numArrays; i++) {
    const randomBikesArray = [];

    while (randomBikesArray.length < numBikesPerArray) {
      const randomIndex = Math.floor(Math.random() * remainingBikeIds.length);
      const randomBikeId = remainingBikeIds[randomIndex];

      const bikeIndex = allBikeIds.indexOf(randomBikeId);
      const bike = bikes[bikeIndex];

      if (!randomBikesArray.includes(bike)) {
        randomBikesArray.push(bike);
      }

      remainingBikeIds.splice(randomIndex, 1);
    }

    randomBikesList.push(randomBikesArray);
  }

  return randomBikesList;
}

// Function to update carousel controls
function updateCarouselControls() {
  const prevButton = document.getElementById('prevButton');
  const nextButton = document.getElementById('nextButton');

  prevButton.disabled = activeSlideIndex === 0;
  nextButton.disabled = activeSlideIndex === 2;
}


function initializeCarousel(bikes) {
  const carouselInner = document.getElementById('bikeCarouselInner');
  carouselInner.innerHTML = '';

  const bikeSlides = [];

  bikes.forEach((bikeArray) => {
    const bikeSlide = document.createElement('div');
    bikeSlide.classList.add('bike-slide');
    
    const rowDiv = document.createElement('div');
    rowDiv.classList.add('row');

    bikeArray.forEach((bike) => {
      const colDiv = document.createElement('div');
      colDiv.classList.add('col-lg-4');

      const bikeInfo = document.createElement('div');
      bikeInfo.classList.add('bike-info');
      const bikeId = bike.id;
      const bikeImage = bike.image
      bikeInfo.innerHTML = `
        <h3 class="carousel-link"><a href="/products/${bikeId}/">${bike.manufacturer} ${bike.model}</a></h3>
        <div class="custom-image-container">
        <div class="image-wrapper">
          <a href="/products/${bikeId}/">
            <img class="img-fluid fixed-height-img" src="${bikeImage}">
          </a>
        </div>
      </div>
        <p class="carousel-info">Engine Capacity: ${bike.engine_capacity}</p>
        <p class="carousel-info">Year: ${bike.year}</p>
        <p class="carousel-info">Price:€${bike.price}.00</p>
      `;

      colDiv.appendChild(bikeInfo);

      rowDiv.appendChild(colDiv);
    });

    bikeSlide.appendChild(rowDiv);

    bikeSlides.push(bikeSlide);
  });

  const carousel = document.getElementById('bikeCarousel');
  carousel.classList.add('carousel');

  activeSlideIndex = 0;
  updateCarouselControls();
  bikeSlides[activeSlideIndex].classList.add('active');

  const prevButton = document.getElementById('prevButton');
  const nextButton = document.getElementById('nextButton');

  prevButton.addEventListener('click', () => {
  bikeSlides[activeSlideIndex].classList.remove('active');
  activeSlideIndex = (activeSlideIndex - 1 + bikeSlides.length) % bikeSlides.length;
  bikeSlides[activeSlideIndex].classList.add('active');
  updateCarouselControls();
});

nextButton.addEventListener('click', () => {
  bikeSlides[activeSlideIndex].classList.remove('active');
  activeSlideIndex = (activeSlideIndex + 1) % bikeSlides.length;
  bikeSlides[activeSlideIndex].classList.add('active');
  updateCarouselControls();
});

  carouselInner.append(...bikeSlides);

//   // Automatically switch to the next slide every 3 seconds
setInterval(() => {
bikeSlides[activeSlideIndex].classList.remove('active');
activeSlideIndex = (activeSlideIndex + 1) % bikeSlides.length;
bikeSlides[activeSlideIndex].classList.add('active');

currentSlideIndex = activeSlideIndex + 1;
updateCarouselControls();

}, 6000);

updateCarouselControls();
}


fetch('/get-random-bikes/')
  .then(response => {
    if (!response.ok) {
      throw new Error('Request failed with status code ' + response.status);
    }
    return response.json();
  })
  .then(data => {
    const fetchedBikes = JSON.parse(data);

    previousBikes = bikes;
    bikes = fetchedBikes;

    const randomBikes = getRandomBikes(bikes, 3, 3);

    $('#bikeCarousel').carousel(activeSlideIndex);

    initializeCarousel(randomBikes);

    previousBikes = bikes.slice();
  })
  .catch(error => {
    console.error('Error:', error);
  });

</script>

{% endblock %}