{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container bg-light">
    <h2 class="mt-2 header-logo black-header">Checkout</h2>
    <p>Please fill out the form below</p>
    <div class="row">
        <div class="col-lg-6 p-3">
            <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-3">
                    <legend class="fieldset-label px-2 w-auto">Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field}}
                    {{ order_form.email | as_crispy_field}}
                </fieldset>
                <fieldset class="rounded px-3 mb-2">
                    <legend class="fieldset-label px-2 w-auto">Delivery Details</legend>
                    {{ order_form.phone_number | as_crispy_field}}
                    {{ order_form.street_address1 | as_crispy_field}}
                    {{ order_form.street_address2 | as_crispy_field}}
                    {{ order_form.town_or_city | as_crispy_field}}
                    {{ order_form.county | as_crispy_field}}
                    {{ order_form.postcode | as_crispy_field}}
                    {{ order_form.country | as_crispy_field}}
                    <div class="form-check form-check-inline float-right mr-0">
                        
                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                    <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>

                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id-->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="text-right mt-2 mb-2">
                    <a class="link-red" href="{% url 'view_bag' %}">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded border border-success">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="text-danger my-0">
                        <span class="icon">
                            <i class="fa-solid fa-exclamation"></i>
                        </span>
                        <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-lg-6 bg-light p-3">
            <div class="row">
                <div class="col-12 mb-1">
                    <fieldset class="rounded">
                        <legend class="fieldset-label w-auto">Order Summary ({{ bag_quantity }})</legend>
                    </fieldset>
                </div>
            </div>
            <h4 class="mb-4">Item List</h4>
            {% for item in items %}
            <div class="row">
                <div class="col-sm-6">
                    {% if item.bike.image %}
                    <img class="img-fluid mt-3" src="{{ item.bike.image.url }}"
                        alt="{{ item.bike.manufacturer }} {{ item.bike.model }}">
                    {% else %}
                    <img class="img-fluid mt-3" src="{% static 'images/no_image.jpg' %}" alt="No Image">
                    {% endif %}
                </div>
                <div class=" col-sm-3 mt-3">
                    <h4 class="item-head">Item</h4>
                    <p class="font-weight-bold">Bike: {{ item.bike.manufacturer }} {{ item.bike.model }} {{ item.bike.engine_capacity|floatformat:0 }}CC</p>
                    <p class="font-weight-bold">Quantity: {{ item.quantity }} </p>
                </div>
                <div class="col-sm-3 mt-3">
                    <h4 class="item-head">SubTotal</h4>
                    <p class="font-weight-bold">€{{ item.subtotal }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="text-right mr-5">
            <h3 class="mt-4">Order Details</h3>
            <p class="font-weight-bold">Total Cost: €{{ total_cost|floatformat:2 }}</p>
            <p class="font-weight-bold">Delivery Cost: €{{ delivery_cost|floatformat:2 }}</p>
            <p class="font-weight-bold">Grand Total: €{{ grand_total|floatformat:2 }}</p>
            </div>
        </div>
    </div>
</div>
<div id="loading-screen">
    <h3 class="text-light loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
        Please wait while we proccesed your order
    </h3>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}">
</script>
{% endblock %}