/* Site Variables */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins&display=swap');

:root {
    --red:#FF7A7A;
    --white:#f8f8ff;
    --grey:#d3d3d3;
    --black:#141414;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    background-color: var(--grey);
    box-shadow: 0 0 10px var(--black);
}

/* Header */

h1,h2,h3,h4 {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

.header-logo {
    font-size: 36px;
    font-weight: bold;
    color: var(--grey) !important;
    text-transform: uppercase;
    padding: 5px;
}

/* Bootstrap backgrounds */

.bg-danger {
    background-color: var(--red) !important;
}

.bg-danger {
    background-color: var(--red) !important;
}

.bg-dark {
    background-color: var(--black) !important;
}

/* Bootstrap border */

.border-danger{
    border-color: var(--red) !important;
}

/* Top Navbar */

#site-logo {
    color: var(--black);
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    font-size: 25px;
}

#cart-icon {
    font-size: 18px;
    color: var(--black);
}

#cart-text {
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
}

#cart-link {
    text-decoration: none;
}

#cart-link:hover {
    text-decoration: none;
}

#cart-badge {
    background-color: var(--black);
    font-size: 14px;
    color: var(--white);
}

#cart-account-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart-link {
    margin-right: 10px;
}

.custom-button {
    width: 125px;
}

.account-menu {
    min-width: 125px;
}

.input-group {
    width: 90%;
}

.search-icon {
    cursor: pointer;
    margin-right: 10px;
}

.search-bar {
    display: none;
}

.search-bar.show {
    display: flex;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}


/* Category Navbar */

.custom-dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.navbar-nav .nav-link {
    margin: 0 2rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--red)!important;
    color: var(--black) !important;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.navbar-center ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

@media (max-width: 768px) {
    .custom-dropdown-menu {
        left: 0 !important;
        transform: translateX(0) !important;
    }

    .nav-item a {
        text-align: center;
    }

    .underline-link {
        position: relative;
    }
    
    .underline-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background-color: var(--black);
    }
}

@media (max-width: 576px) {
    .header-logo {
    font-size: 20px;
    }
}

/* index-content */

#index-message {
    font-size: 25px;
}

@media (max-width: 992px) {
    #index-message {
    font-size: 16px;
    }

}

/* Message container */
.message-container {
    position: fixed;
    top: 46px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

@media (max-width: 992px) {
    .message-container {
        top: 90px;
        right: 10px;
    }

}

/* Carousel */ 

.carousel {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid --grey;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.bike-slide {
    flex: 0 0 100%;
    padding: 10px;
    text-align: center;
    display: none;
}

.bike-slide.active {
    display: block;
}

.bike-info {
    background-color: var(--white);
    text-decoration: solid;
    color: var(--black);
}

.carousel-info {
    text-decoration: solid;
    color: var(--black);
    font-weight: 600;
    margin: 2px;
    padding: 4px;
}

.carousel-link a {
    color: inherit;
    text-decoration: none;
}

.carousel-link a:hover {
    text-decoration: underline;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--grey);
    color: var(--white);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 20px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Allauth form */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: var(--grey);
}

.allauth-form-inner-content input {
    border-color: var(--grey);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--grey);
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--black);
    border: 1px solid var(--black);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.allauth-form-inner-content a {
    color: var(--black);
}

/* Bootstrap button */

.btn-black {
    background: var(--black);
    color: var(--white);
}

.btn-outline-black {
    background: var(--white);
    color: var(--black) !important;
    border: 1px solid --black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--black) !important;
    color: var(--red) !important;
}

.btn-white-text {
    color: var(--white) !important;
}

/* Image container's */

.custom-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 767px) {
    .fixed-height-img {
    height: 350px;
    }
}

.fixed-img {
    height: 300px; 
    width: 250px;
}

.image-wrapper {
    text-align: center;
}

/* Quantity counter */

.quantity-input {
    min-width: 75%;
}

/* Bag link */

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-link:hover {
    color: var(--black);
    text-decoration: none;
}

.bag-container {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* FAQ Accordion */

.faq-accordion {
    margin-bottom: 10px;
}

.faq-accordion .faq-accordion-heading {
    background-color: var(--black);
    padding: 10px;
    cursor: pointer;
    color: var(--red);
}

.faq-accordion .faq-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 10px;
    background-color: var(--grey);
}

.faq-accordion .faq-accordion-content.open {
    max-height: 500px;
    transition: max-height 1s ease, padding 0.5s ease 0.5s, opacity 0.5s ease;
    opacity: 1;
    padding: 10px;
}

/* Footer */

.info-links {
    list-style-type: none;
}

.info-links li a {
    color: var(--white);
}

footer {
    margin-top: auto;
}

.footer {
    background-color: var(--black) !important;
    color: var(--white);
}