/* Top Navbar */

#site-logo {
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    font-size: 25px;
}

#cart-icon {
    font-size: 18px;
    color: Black;
}

#cart-text {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

#cart-link {
    text-decoration: none;
}

#cart-link:hover {
    text-decoration: none;
}

#cart-badge {
    background-color: black;
    font-size: 14px;
    color: white;
}

#cart-account-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart-link {
    margin-right: 10px;
}

.custom-button {
    width: 125px;
}

.account-menu {
    min-width: 125px;
}

.input-group {
    width: 90%;
}

.search-icon {
    cursor: pointer;
    margin-right: 10px;
}

.search-bar {
    display: none;
}

.search-bar.show {
    display: flex;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}


/* Category Navbar */

.custom-dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.navbar-nav .nav-link {
    margin: 0 2rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: red !important;
    color: black !important;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.navbar-center ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

@media (max-width: 768px) {
    .custom-dropdown-menu {
        left: 0 !important;
        transform: translateX(0) !important;
    }

    .nav-item a {
        text-align: center;
    }

    .underline-link {
        position: relative;
    }
    
    .underline-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background-color: black;
    }
}

/* Header Logo */  

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}  

/* Message container */
.message-container {
    position: fixed;
    top: 46px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

@media (max-width: 992px) {
    .message-container {
        top: 90px;
        right: 10px;
    }

}

/* Carousel */ 

.carousel {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.bike-slide {
    flex: 0 0 100%;
    padding: 10px;
    text-align: center;
    display: none;
}

.bike-slide.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 20px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Image container's */

.custom-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 767px) {
    .fixed-height-img {
    height: 350px;
    }
}

.fixed-img {
    height: 300px; 
    width: 250px;
}

.image-wrapper {
    text-align: center;
}

/* Quantity counter */

.quantity-input {
    min-width: 75%;
}

/* Bag link */

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-link:hover {
    color: #000;
    text-decoration: none;
}

.bag-container {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* FAQ Accordion */

.faq-accordion {
    margin-bottom: 10px;
}

.faq-accordion .faq-accordion-heading {
    background-color: black;
    padding: 10px;
    cursor: pointer;
    color: red;
}

.faq-accordion .faq-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 10px;
    background-color: #ddd;
}

.faq-accordion .faq-accordion-content.open {
    max-height: 500px;
    transition: max-height 1s ease, padding 0.5s ease 0.5s, opacity 0.5s ease;
    opacity: 1;
    padding: 10px;
}

/* Footer */

.footer {
    background-color: black;
    color: white;
}