:root {
    --red:#FF7A7A;
    --white:#f8f8ff;
    --grey:#d3d3d3;
    --black:#141414;
}

.product-item {
    border: 2px solid var(--white);
    padding: 10px;

}

.product-title {
    color: var(--black) !important ;
}

.product-title a {
    color: inherit;
    transition: transform 0.3s ease;
}

.product-title a:hover {
    transform: scale(1.50);
}

.product-info {
    color: var(--black);
    width: 50px;
}


.sort-label {
    color: var(--white);
}

.current-page{
    color: var(--white);
    font-size: 25px;
}

.next-page {
    color: var(--red);
}

/* Sort selector */

@media (max-width: 576px) {
    label[for="sort"],
    select#sort {
    font-size: 14px;
    }
}
/* Quanity input */
@media (max-width: 768px) {
    .product-quanity {
        width: 60px;
    }

}