<ul class="navbar-nav w-auto mx-auto d-flex justify-content-center">
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-white" id="all-bikes-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Bikes</a>
        <div class="dropdown-menu custom-dropdown-menu text-center bg-dark border-0" aria-labelledby="all-bikes-link">
            <a href="{% url 'products' %}?sort=price" class="dropdown-item text-white">By Price</a>
            <a href="{% url 'products' %}?sort=year" class="dropdown-item text-white">By Year</a>
            <a href="{% url 'products' %}?sort=manufacturer" class="dropdown-item text-white">All Bikes</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-white" id="all-manufacturer-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Manufacturer</a>
        <div class="dropdown-menu custom-dropdown-menu text-center bg-dark border-0"
            aria-labelledby="all-manufacturer-link">
            {% for manufacturer in manufacturers %}
            <a href="{% url 'products_by_manufacturer' manufacturer_name=manufacturer.manufacturer %}"
                class="dropdown-item text-white">{{ manufacturer.manufacturer }}</a>
            {% endfor %}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-white" id="all-engine-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Engine Capacity</a>
        <div class="dropdown-menu custom-dropdown-menu text-center bg-dark border-0" aria-labelledby="all-engine-link">
            {% for engine_capacity in engine_capacitys %}
            <a href="{% url 'products_by_engine' engine_num=engine_capacity.engine_capacity %}?sort=manufacturer"
                class="dropdown-item text-white">{{ engine_capacity.engine_capacity|floatformat:0 }}CC</a>
            {% endfor %}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-white" id="all-stroke-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Stroke</a>
        <div class="dropdown-menu custom-dropdown-menu text-center bg-dark border-0" aria-labelledby="all-stroke-link">
            {% for stroke in strokes %}
            <a href="{% url 'products_by_stroke' stroke_num=stroke.stroke %}?sort=manufacturer"
                class="dropdown-item text-white">{{ stroke.stroke }} Stroke</a>
            {% endfor %}
        </div>
    </li>
</ul>