<ul class="navbar-nav w-auto mx-auto d-flex justify-content-center">
  <li class="nav-item">
    <a href="#" class="nav-link text-white underline-link" data-toggle="collapse" data-target="#bikes-menu">Bikes</a>
    <div class="collapse custom-dropdown-menu bg-dark border-0" id="bikes-menu">
      <a href="{% url 'products' %}?sort=price" class="dropdown-item text-white">By Price</a>
      <a href="{% url 'products' %}?sort=year" class="dropdown-item text-white">By Year</a>
      <a href="{% url 'products' %}?sort=manufacturer" class="dropdown-item text-white">All Bikes</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link text-white underline-link" data-toggle="collapse" data-target="#manufacturer-menu">Manufacturer</a>
    <div class="collapse custom-dropdown-menu bg-dark border-0" id="manufacturer-menu">
      {% for manufacturer in manufacturers %}
        <a href="{% url 'products_by_manufacturer' manufacturer_name=manufacturer.manufacturer %}" class="dropdown-item text-white">{{ manufacturer.manufacturer }}</a>
      {% endfor %}
    </div>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link text-white underline-link" data-toggle="collapse" data-target="#engine-menu">Engine Capacity</a>
    <div class="collapse custom-dropdown-menu bg-dark border-0" id="engine-menu">
      {% for engine_capacity in engine_capacitys %}
        <a href="{% url 'products_by_engine' engine_num=engine_capacity.engine_capacity %}?sort=manufacturer" class="dropdown-item text-white">{{ engine_capacity.engine_capacity|floatformat:0 }}CC</a>
      {% endfor %}
    </div>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link text-white underline-link" data-toggle="collapse" data-target="#stroke-menu">Stroke</a>
    <div class="collapse custom-dropdown-menu bg-dark border-0" id="stroke-menu">
      {% for stroke in strokes %}
        <a href="{% url 'products_by_stroke' stroke_num=stroke.stroke %}?sort=default" class="dropdown-item text-white">{{ stroke.stroke }} Stroke</a>
      {% endfor %}
    </div>
  </li>
</ul>
