:root {
    --red:#FF7A7A;
    --white:#f8f8ff;
    --grey:#d3d3d3;
    --black:#141414;
}

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 2px solid var(--grey);
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 1px 3px 0 var(--white);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 var(--grey);
}

.StripeElement--webkit-autofill {
    background-color: var(--white) !important;
}

.form-control {
    border:2px solid var(--grey);
}

.form-control::placeholder {
    color:var(--grey);
}

.fieldset-label {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.item-head {
    text-decoration: underline;
}

#loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    z-index: 1000;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

select,
select option{
    color: var(--black)
}

select:invalid,
select option[value=""] {
    color: var(--grey) !important;
}

.order-info {
    display: flex;
    flex-wrap: wrap;
}

.order-info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
}

.order-info-label {
    width: 30%;
    font-weight: bold;
}

.order-info-value {
    width: 70%;
}

@media (max-width: 480px) {
    #card-element  {
        padding: 10px 1px;
    }

    .order-num {
        font-size: 10px;
    }

    .order-info {
        font-size: 14px;
    }
}