{% extends "base.html" %}
{% load static %}

{%  block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        {% for bike in bikes %}
        <div class="col-4">
            {{ bike.manufacturer }}
            {{ bike.model }}
            {% if bike.image %}
            <img class="img-fluid" src="{{ bike.image.url }}">
            {% else %}
            <img class="img-fluid" src="{% static 'images/no_image.jpg' %}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}