{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{%  block content %}
<div class="container-fluid">
<!-- products.html -->
<h1>Products</h1>
<h2>
  {% if selected_filters %}
    {% for filter_label in selected_filters %}
      {{ filter_label }}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% else %}
    All Bikes
  {% endif %}
</h2>

<!-- Rest of your product listing -->

    <div class="row">
        {% for bike in bikes %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ">
            <div class="product-item h-000">
            {% if bike.image %}
            <img class="img-fluid" src="{{ bike.image.url }}">
            {% else %}
            <img class="img-fluid" src="{% static 'images/no_image.jpg' %}">
            {% endif %}
            {{ bike.manufacturer }}
            {{ bike.model }}
            {{ bike.engine_capacity|floatformat:0 }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}